.barcode {
  font-size: 2rem;
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  &__item {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__description {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    width: 50rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: auto;
    align-items: center;
    .input__container {
      width: 42rem;
    }
  }
  &__label,
  &__input {
    font-size: 2rem;
  }
  &__label {
    display: inline-block;
    width: 8rem;
    margin-right: 1rem;
  }
  &__input {
    color: $color-btn;
    background-color: $color-btn-hover;
    &::placeholder {
      color: $color-btn;
    }
  }
}
.img__container {
  border-radius: 1rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}
